<div class="container align-items-center justify-content-center">
<div class="row" class="legal">
  <div class="col-12 context">
  <p>© 2023 cohleague.com</p>
    <p>This is an unofficial fan-made site for tournaments involving Company Of Heroes.
  
  Company of Heroes is registered trademark of SEGA Holdings. Co
  The COH Images and other assets are owned by Relic Entertainment and/or SEGA</p>

<p></p><p style="font-weight: bold;">If youre interested in helping with the up keep of the database costs donate below</p>
</div>
</div>
</div>
<nav class="rounded-0 navbar navbar-dark navbar-expand-lg  navbar-toggler bg-dark footer">
    <ul class="navbar-nav mx-auto footer-contents">
      <li class="nav-item">
        <i class="bi bi-github" style="font-size: 2em; color: white;"></i>
        <i class="bi bi-paypal" style="font-size: 2em; color: white;"></i>
        <i class="bi bi-reddit" style="font-size: 2em; color: white;"></i>
        <i class="bi bi-shift" style="font-size: 2em; color: white;"></i>
        <!-- //back to top -->
      </li>
    </ul>
</nav>
