<div class="dialog-window">
  <form [formGroup]="tournamentForm" autocomplete="off" novalidate>
    <h1 mat-dialog-title align="center">Create New Tournament -- Page {{page}} of 2</h1>
    <div *ngIf="page === 1">
      <div formGroupName="pageOne">
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
            <mat-label>Tournament Name</mat-label>
            <input matInput type="text" formControlName="tournamentTitle" required>
            <mat-error *ngIf="hasError('tournamentTitle', 'required')">Tournament name is required 
            and must be longer than 4 characters</mat-error>
          </mat-form-field>
        </div>
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
            <mat-label>Tournament Description</mat-label>
            <input matInput type="text" formControlName="tournamentDescription">
          </mat-form-field>
        </div>
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
            <mat-label>Which CoH Version?</mat-label>
            <mat-select formControlName="tournamentGame" required>
              <mat-option value="CoH2">CoH 2</mat-option>
              <mat-option value="CoH3">CoH 3</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('tournamentGame', 'required')">Game selection is required</mat-error>
          </mat-form-field>
        </div>
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
          <mat-label>Game Format</mat-label>
          <mat-select formControlName="tournamentGameFormat" required>
            <mat-option value=1>Best of 1</mat-option>
            <mat-option value=3>Best of 3</mat-option>
            <mat-option value=5>Best of 5</mat-option>
            <mat-option value=7>Best of 7</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('tournamentGameFormat', 'required')">Game format selection is required</mat-error>
          </mat-form-field>
          <!--Add tooltip -> this is to preset all round matches, can make additional changes to rounds later-->
        </div>
      </div>
      <div mat-dialog-actions align="center">
        <button class="cancel-button"mat-button (click)="onNoClick()">Cancel</button>
        <button class="proceed-button" mat-button (click)="goToNextPage()">Page {{page + 1}}</button>
      </div>
    </div>
    <div *ngIf="page == 2">
      <div formGroupName="pageTwo">
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
          <mat-label>Number of Players/Teams</mat-label>
          <mat-select formControlName="tournamentPlayerNum" required>
            <mat-option value=4>4</mat-option>
            <mat-option value=8>8</mat-option>
            <mat-option value=16>16</mat-option>
            <mat-option value=32>32</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('tournamentPlayerNum', 'required')">Number of players is required</mat-error>
          </mat-form-field>
        </div>
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
          <mat-label>Team Value</mat-label>
          <mat-select formControlName="tournamentTeamSize" required>
            <mat-option value=1>Individual</mat-option>
            <mat-option value=2>Team of 2</mat-option>
            <mat-option value=3>Team of 3</mat-option>
            <mat-option value=4>Team of 4</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('tournamentTeamSize', 'required')">Team size selection is required</mat-error>
          </mat-form-field>
        </div>
        <div mat-dialog-content>
          <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate formControlName="tournamentStartDate" placeholder="Start date">
              <input matEndDate formControlName="tournamentEndDate" placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY -- MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="hasError('tournamentStartDate','required')">Invalid start date</mat-error>
            <mat-error *ngIf="hasError('tournamentEndDate', 'required')">Invalid end date</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions align="center">
        <button class="proceed-button" mat-button (click)="goToPreviousPage()">Page {{page - 1}}</button>
        <button class="cancel-button"mat-button (click)="onNoClick()">Cancel</button>
        <button class="submit-button" mat-button (click)="submitNewTournament()">Confirm</button>
      </div>
    </div>
  </form>
</div>

  

