<!-- <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tournament.title"
          name="title"
        />
      </div>
  
      <div class="form-group">
        <label for="game">Game</label>
        <input
          class="form-control"
          id="game"
          required
          [(ngModel)]="tournament.game"
          name="game"
        />
      </div>
  
      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Add</button>
    </div>
  </div> -->


  <!-- Show three divs/ process of creating tournament-->
  
<div class="container">
  <div class="row">
    <div class="col-4">
      Create a new tournament -> You can 
      <ul>
        <li>Customize Match Formats</li>
        <li>Customize Round Formats</li>
      </ul>
    </div>

    <div class="col-4">
      Update your tournament -> You can 
      <ul>
        <li>Update match and game results</li>
        <li>Indicate winners, publish results to award points to players</li>
      </ul>
    </div>

    <div class="col-4">
      Delete 
      At any time you can delete your tournament and start again, you can not delete published tournaments
    </div>
  </div>
  <div class="row">
    <button (click)="createNewtournament()">Create New Tournament</button>
  </div>
</div>