<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="infobox">
        <i class="bi bi-diagram-2" style="font-size: 2em; color: cornflowerblue;">Create new tournament</i>
        
      <ul> After filling in the starting infomartion
      
        <li>Customize Match Formats</li>
        <li>Customize Round Formats</li>
      </ul>
      </div>
    </div>

    <div class="col-4">
      <div CLASS="infobox">
        <i class="bi bi-hammer" style="font-size: 2em; color: cornflowerblue;">Update your tournament</i>
      
      <ul>
        <li>Update match and game results</li>
        <li>Indicate winners, publish results to award points to players</li>
      </ul>
    </div>
    </div>

    <div class="col-4">
      <div class="infobox">
        <i class="bi bi-x-square"></i>
      Delete 
      At any time you can delete your tournament and start again, 
      Note: You can not delete published tournaments
    </div>
    </div>
  </div>
  <div class="align-items-center justify-content-center row">
    <button class="col-3 proceed-button" (click)="createNewtournament()">Create New Tournament</button>
  </div>
</div>