<p>edittournament works!</p>
<!-- Selector for number of players + fill in the matches for round 1 (dates??)-->
<!-- After confirming go to customization (round names etc) -->
<!-- Save option at the bottom of that -> redirect to view the tournament -->
<div *ngIf="!bracketView" class="container editContainer">
    <!-- for number of players-->
    <div *ngFor="let round of editTournament.rounds">
        <!-- Match n-->
        <div *ngFor="let match of round.matches">
            Team Names
            <div class="row">
                <!-- Team One-->
                <div class="col-6">

                </div>
                <!-- Team Two-->
                <div class="col-6">

                </div>
            </div>
            Team Players <!-- if team games selected-->
            <div class="row">
                <!-- Player n for Team One-->
                <div class="col-6">
                    <!-- drop down search (type by name too) based on game-->
                </div>
                <!-- Player n for Team Two-->
                <div class="col-6">
                    <!-- drop down search (type by name too) based on game-->
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="bracketView" class="container editContainer">

</div>

<!-- Option to add new players (update option later)? add steam id -> verify they arenty already in db -->