<div class="tournament">
<p>tournaments works!</p>
   
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/Drarig29/brackets-viewer.js@09a5e578e4e6bd76db06b380e79ef2a3bedb8e92/dist/brackets-viewer.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/gh/Drarig29/brackets-viewer.js@09a5e578e4e6bd76db06b380e79ef2a3bedb8e92/dist/brackets-viewer.min.js"
    ></script>

<ul class="test">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/tournaments/create">Create</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/rankings">Rankings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/tools">Tools</a>
        </li>
        <!-- login/user|logout hide tools if not a user -->
    </ul>
    </div>
