*,
*::after,
*::before {
  box-sizing: border-box;
}

.box{
  margin-bottom: 5vh;
  min-height: 80vh;
}
.tournamentbox{
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
  margin-right: 2vh;
}
.tournamentrow {
  display: flex;
  flex-direction: row;
}

/* Tournament Image/Title Content */
.imagebox {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

h1{
    color: white;
    font-weight: bold;
    margin-left: 5vh;
}

.roundheadercontainer{
  display:flex;
  flex-direction: row;
  border-bottom: 2px solid  rgb(129, 9, 9);
  justify-content: space-around;
  padding-bottom: 1vh;
}

/* Round Content */

.roundheader{
  color: white;
  display:flex;
  flex-direction: column;
}


.rounds {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
}

/* Match Content */

.matchup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 10px;
  padding: 30px 0;
  flex-grow: 1;
  position: relative;
}

.matchcontent {
  font-family:sans-serif;
  border: 2px solid #b5b7ba;
  display: flex;
  flex-direction: column;
  position: relative;
}

.team{
    display: flex;
    align-items: stretch;
    width: 100%;
    color: white;
    
}

.matchwinner{
  outline: 2px solid goldenrod;
  color: black;
}

.teamview{
  position: absolute;
  background-color: black;
  /* border: 2px solid #b5b7ba; */
}

.teamname {
  width: 100%;
  background-color: rgb(35, 33, 33);
  align-items: center;
}


.teamname:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.teamscore {
    margin-left: auto;
    background-color: rgb(129, 9, 9);
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    font-weight: bold;
}

.matchcontent {
  font-family:sans-serif;
  /* border: 2px solid #b5b7ba; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
}

/* Bracket Content ---------------------------------------------------------------------------------- */

/* Bracket Vertical Connector */
.matchup:nth-child(odd)::after {
  content: "";
  display: block;
  border-left:2px solid #b5b7ba;
  height: 50%;
  position: absolute;
  right: -12px;
  top: 50%;
}

.matchup:nth-child(even)::after {
  content: "";
  display: block;
  border-left:2px solid #b5b7ba;
  height: 50%;
  position: absolute;
  right: -12px;
  bottom: 50%;
}

/* Bracket -- After Matchup line */
.matchcontent::after {
  content: "";
  display: block;
  width: 14px;
  border-bottom: 2px solid #b5b7ba;
  margin-left: -2px;
  position: absolute;
  top: 50%;
  right: -14px;
}

/* Bracket -- Before Matchup line */
.matchcontent::before {
  content: "";
  display: block;
  width: 10px;
  border-bottom: 2px solid #b5b7ba;
  position: absolute;
  top: 50%;
  left: -10px;
}

.rounds:last-child .matchup::after {
  display: none;
}

.rounds:first-child .matchcontent::before {
  display: none;
}

.rounds:last-child .matchcontent::after {
  display: none;
}

/* End of Bracket Lines ---------------------------------------------------- */

.champion {
  color: white;
  background: 
    linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.3) 50%,#0000 66%)
    rebeccapurple;
  background-size:300% 100%;
  animation: shine 2s infinite;
  min-height: 5vh;
}
@keyframes shine {
  0% {
    background-position: right;    
  }
  /*100% {
    background-position: left; it's the default value, no need to define it
  }*/
}
