<div class="dialog-window">
    <form [formGroup]="newPlayerForm" autocomplete="off" novalidate>
      <h1 mat-dialog-title align="center">Add New Player</h1>
        <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Player Name</mat-label>
            <input matInput type="text" formControlName="playerName" required>
            <mat-error *ngIf="hasError('playerName', 'required')">Player name is required</mat-error>
        </mat-form-field>
        </div>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Steam Id</mat-label>
                <input matInput type="text" formControlName="steamId" required>
                <mat-error *ngIf="hasError('steamId', 'required')">SteamId is required and must be 17 digits</mat-error>
            </mat-form-field>
        </div>
        <div mat-dialog-actions align="center">
          <button class="cancel-button"mat-button (click)="onNoClick()">Cancel</button>
          <button class="submit-button" mat-button (click)="submitNewTournament()">Confirm</button>
        </div>
    </form>
</div>
  
    
  
  
