<div class="container">
    <form [formGroup] = "gameDetailsForm" id="gameDetailsForm">
        <div class="row teamNameRow">
            <div class="col-6 teamone-col">
                <h3>{{data.teamOne}}</h3>
            </div>
            <div class="col-6 teamtwo-col">
                <h3>{{data.teamTwo}}</h3>
            </div>
        </div>
        <div formArrayName="gameDetails">
            <div [formGroupName]="p" *ngFor="let game of gameDetailsForm.controls.gameDetails.controls; let p = index">
                <div class="row scoreWinnerRow">
                    <div class="col-4">
                        <mat-form-field class="teamVpCount" appearance="outline">
                            <mat-label class="test">VP Count</mat-label>
                            <input class="matinput" matInput formControlName=scoreOne value="">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-select appearance="outline" placeholder="Game Winner" (selectionChange)="winnerSelected(p)" formControlName="gameWinner">
                            <mat-option *ngFor="let teamName of teamSelector" [value]="teamName">
                            {{teamName}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-4">
                        <mat-form-field class="teamVpCount" appearance="outline">
                            <mat-label class="test">VP Count</mat-label>
                            <input class="matinput" matInput formControlName=scoreTwo value="">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        
        <div mat-dialog-actions align="center">
            <button class="cancel-button" (click)="onNoClick()">Close</button>
            <button class="submit-button" (click)="saveMatchDetails()">Save</button>
        </div>
    </form>
</div>