
<!-- Thinking about it wrong, reverse the array back so championship round is first
float right, then center the next to matchs based on the left and right node to the parent (final round)-->
<!-- final round/champion is the parent, center everything else to it-->

<!-- Container for Tournament -->
<div class="box">
  <!-- Tournament Background -->
  <div class="tournamentbox">
    
    
    
    <!-- Tournament Image Header -->
    <div *ngIf="!tournamentView.hasImage" class="tournyName">
      <h1>{{tournamentView.title}}</h1>
    </div>
    <div *ngIf="tournamentView.hasImage" class="imagebox">
      <img src="./assets/images/imagetest.jpg" class="img-fluid"> 
      <!-- <img [src]="imagepath" style="width: 100px;height:100px;" /> -->
    </div>
  
    <!-- champion box? under image show winner of tourny -->

    <!-- Round Headers -->
    <div class="roundheadercontainer">
      <div *ngFor = "let round of tournamentView.rounds">
        <div  class=" d-flex align-items-center justify-content-center roundheader">
          <div *ngIf="!round.roundName">Round {{round.roundId}}</div>
          <div>{{round.roundName}}</div>
          <div>{{round.date}}</div>
        </div>
      </div>
    </div>
    <div class="tournamentrow">
      <div *ngFor = "let round of tournamentView.rounds" class="rounds">
        <!-- Tournament Bracket -->
        <div *ngFor = "let match of round.matchs" class="matchup">
          <!-- Match Column -->
          <!-- if winner assign ngclass-->
          <div class="matchcontent">
            <div class="team" [ngClass]= "{'matchwinner' : match.teamOneWin}">
              <div class="align-items-center justify-content-center roundheader teamname">
                  {{match.teamOneName}}
              </div>
              <div class="teamscore">
                  {{match.teamOneScore}}
              </div>
            </div>
            <div class="team" [ngClass]= "{'matchwinner' : match.teamTwoWin}">
                  <div class="align-items-center justify-content-center roundheader teamname">
                      {{match.teamTwoName}}
                  </div>
                   <div class="teamscore">
                      {{match.teamTwoScore}}
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="d-flex align-items-center justify-content-center col-12" *ngIf="isOwner">
   
        <button class="submit-button" (click)="editTournament(tournamentView)">Edit</button>
      
        <button class="cancel-button" (click)="deleteTournament(tournamentView)">Delete</button>
      
    </div>
    
  </div>
</div>
